.extensions{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

article{
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

article.tdark{
  color: hsl(200, 60%, 99%);
  border: 1px solid hsl(226, 11%, 37%);
  background-color: hsl(226, 25%, 17%);
}

article.tlight{
  color: hsl(227, 75%, 14%);
  border: 1px solid hsl(217, 61%, 90%);
  background-color: hsl(200, 60%, 99%);
}

.extension-info{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.extension-info p{
  font-size: 12px;
}
  
.extension-info.tdark p{
  color: hsl(0, 0%, 78%);
}

.extension-info.tlight p{
  color: hsl(226, 11%, 37%);
}

.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  border-radius: 50px;
  padding: .5rem 1rem;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.remove-btn.tdark{
  border: 1px solid hsl(226, 11%, 37%);
  color: hsl(217, 61%, 90%);
}

.remove-btn.tdark:hover{
  color: hsl(227, 75%, 14%);
  background-color: hsl(3, 86%, 64%);
  border: 1px solid hsl(3, 86%, 64%);
}

.remove-btn.tlight{
  border: 1px solid hsl(217, 61%, 90%);
  color: hsl(227, 75%, 14%);
}

.remove-btn.tlight:hover{
  color: hsl(200, 60%, 99%);
  background-color: hsl(3, 77%, 44%);
}

.remove-btn:focus{
  border: 1px solid hsl(3, 86%, 64%);
}

.toggle-btn {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 3px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.toggle-btn.tdark.true:hover,
.toggle-btn.tlight.true:hover{
  background-color: hsl(3, 71%, 56%);
}

.toggle-btn.tdark.true:focus,
.toggle-btn.tlight.true:focus,
.toggle-btn.tdark.false:focus,
.toggle-btn.tlight.false:focus{
  border: 1px solid hsl(3, 77%, 44%);
}

.toggle-btn.tdark.true {
  background-color: hsl(3, 86%, 64%);
  justify-content: flex-end;
}

.toggle-btn.tlight.true{
  background-color: hsl(3, 77%, 44%);
}

.toggle-btn.tdark.false {
  background-color: hsl(226, 11%, 37%);
  justify-content: flex-start;
}

.toggle-btn.tlight.false{
  background-color: hsl(0, 0%, 78%);
}

.toggle-circle {
  background-color: white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}