.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-radius: 15px;
}

.nav.tdark{
    background-color: hsl(226, 25%, 17%);
    color: white;
}

.nav.tlight{
    background-color: hsl(200, 60%, 99%);
    border: 2px solid hsl(217, 61%, 90%);
}

.themeIcon{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.themeIcon.tdark{
    background-color: hsl(225, 23%, 24%);
}

.themeIcon.tdark:hover{
    background-color: hsl(226, 11%, 37%);
}

.themeIcon.tlight{
    background-color: hsl(0, 0%, 93%);
}

.themeIcon.tlight:hover{
    background-color: hsl(0, 0%, 78%);
}

.themeIcon:focus{
  border: 1px solid hsl(3, 86%, 64%);
}