@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--body-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    flex-direction: column;
    font-family: 'League Spartan', sans-serif;
}
.container{
    width: 500px;
    margin-top: 100px
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}
nav{
    margin-bottom: 30px;
    color: var(--text-color);
}
h1{
    font-size: 2em;
}
nav p{
    font-size: .8em;
    letter-spacing: 2px;
    align-items: flex-end;
}
.dr{
    display: flex;
    flex-direction: row;
    background-color: var(--bg-buttons);
    border-radius: 20px;
    padding: 4px 3px;
}
.dr>input{
    opacity: 0;
    cursor: pointer;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
input[type="radio"]:checked{
    opacity: 1;
    background-color: hsl(6, 63%, 50%);
    border: 1px solid hsl(6, 63%, 50%);
}
input[type="radio"]:hover{
    background-color: hsl(6, 93%, 67%);
    border: 1px solid hsl(6, 93%, 67%);
}
.theme2[type="radio"]:checked{
    background-color: hsl(25, 98%, 40%);
    border: 1px solid hsl(25, 98%, 40%);
}
.theme2[type="radio"]:hover{
    background-color: hsl(25, 100%, 61%);
    border: 1px solid hsl(25, 100%, 61%);
}
.theme3[type="radio"]:checked{
    background-color: hsl(176, 100%, 44%);
    border: 1px solid hsl(176, 100%, 44%);
}
.theme3[type="radio"]:hover{
    background-color: hsl(177, 100%, 79%);
    border: 1px solid hsl(177, 100%, 79%);
}
.input{
    background-color:var(--input-color);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.input input{
    width: 100%;
    margin: 20px;
    background-color:transparent;
    border: none;
    outline: none;
    font-size: 2em;
    color: var(--text-color);
    text-align: right;
    font-family: 'League Spartan', sans-serif;
    font-size: 3em;
}
input::placeholder{
    color: var(--placeholder-color);
}
.dr>input{
    margin: 0 3px;
}
.labels{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    cursor: pointer;
}
.grid{
    background-color: var(--bg-buttons);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}
.button{
    padding: 15px 10px 10px;
    background-color: var(--buttons-color);
    border-radius: 10px;
    border-bottom: 5px solid var(--buttons-border);
    color: var(--text-color);
    font-size: 32px;
    cursor: pointer;
}
.button:hover{
    background-color: var(--bg-hover-key);
}
.grid>.color2{
    background-color: var(--bg-button2);
    border-bottom: 5px solid var(--border-button2);
    color: var(--text-button2);
}
.grid>.color2:hover{
    background-color: var(--bg-hover-button2);
}
.grid>.color3{
    background-color: var(--bg-button3);
    border-bottom: 5px solid var(--border-button3);
    color: var(--text-button3);
}
.grid>.color3:hover{
    background-color: var(--bg-hover-button3);
}
.grid>.big{
    grid-column: span 2;
}
@media (max-width: 425px) {
    .container{
        width: 90%;
        margin-top: 180px;
    }
    .input input{
        font-size: 2em;
    }
    .grid div{
        font-size: 29px;
        padding: 20px 10px 15px;
        text-align: center;
    }
    .grid>.color2, .grid>.color3{
        font-size: 20px;
    }
    .color2>p, .color3>p{
        padding-top: 5px;
    }
}
